<a href="https://colab.research.google.com/github/sparab2/ML_Project_Traffic/blob/main/US_Accidents_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

# Load the CSV file from your Google Drive
df = pd.read_csv('/content/drive/My Drive/Colab_Notebooks/US_Accidents_Dec21_updated.csv')

df.head() # To get first n rows from the dataset default value of n is 5

Mounted at /content/drive

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
# Check for missing values
print(df.isna().sum())

# Drop rows with missing values
df.dropna(inplace=True)

# Impute missing values with mean
df.fillna(df.mean(), inplace=True)

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                        0
End_Lng                        0
Distance(mi)                   0
Description                    0
Number                   1743911
Street                         2
Side                           0
City                         137
County                         0
State                          0
Zipcode                     1319
Country                        0
Timezone                    3659
Airport_Code                9549
Weather_Timestamp          50736
Temperature(F)             69274
Wind_Chill(F)             469643
Humidity(%)                73092
Pressure(in)               59200
Visibility(mi)             70546
Wind_Direction             73775
Wind_Speed(mph)           157944
Precipitation(in)         549458
Weather_Condition          70636
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset              2867
Civil_Twilight              2867
Nautical_Twilight           2867
Astronomical_Twilight       2867
dtype: int64

In [ ]:
# Check for missing values
print(df.isna().sum())

In [ ]:
# Identify outliers using Z-score
from scipy import stats

In [3]:
print(df['Junction'].dtypes)
print(df['Traffic_Signal'].dtypes)

bool
bool

In [4]:
df['Side'] = df['Side'].astype(str)

df['Amenity'] = df['Amenity'].astype(str)
df['Bump'] = df['Bump'].astype(str)
df['Crossing'] = df['Crossing'].astype(str)
df['Give_Way'] = df['Give_Way'].astype(str)
df['Junction'] = df['Junction'].astype(str)
df['No_Exit'] = df['No_Exit'].astype(str)
df['Railway'] = df['Railway'].astype(str)
df['Roundabout'] = df['Roundabout'].astype(str)
df['Station'] = df['Station'].astype(str)
df['Stop'] = df['Stop'].astype(str)
df['Traffic_Calming'] = df['Traffic_Calming'].astype(str)
df['Traffic_Signal'] = df['Traffic_Signal'].astype(str)
df['Turning_Loop'] = df['Turning_Loop'].astype(str)

df['Sunrise_Sunset'] = df['Sunrise_Sunset'].astype(str)
df['Civil_Twilight'] = df['Civil_Twilight'].astype(str)
df['Nautical_Twilight'] = df['Nautical_Twilight'].astype(str)
df['Astronomical_Twilight'] = df['Astronomical_Twilight'].astype(str)

In [5]:
print(df['Junction'].dtypes)
print(df['Traffic_Signal'].dtypes)

object
object

In [6]:
binary_vars = ['Junction', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']
day_vars = ['Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']


# Convert the binary variables to 0/1
df[binary_vars] = df[binary_vars].apply(lambda x: x.map({"True": 1, "False": 0}))

# Convert the binary variables to 0/1
df[day_vars] = df[day_vars].apply(lambda x: x.map({"Day": 1, "Night": 0}))

# Convert the binary variables to 0/1
df[side_vars] = df[side_vars].apply(lambda x: x.map({"R": 1, "L": 0}))

In [7]:
df[binary_vars] = df[binary_vars].astype(str)
df[day_vars] = df[day_vars].astype(str)
df[side_vars] = df[side_vars].astype(str)

In [8]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,0,0,0,0,0,0,0.0,0.0,0.0,1.0
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,0,0,0,0,0,0,0.0,0.0,1.0,1.0
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,0,0,0,0,0,0,1.0,1.0,1.0,1.0

In [9]:
# Select the required input variables and target variable
input_vars = ['Severity', 'Start_Time', 'End_Time', 'Distance', 'Weather_Timestamp', 'Side', 'Weather_Condition', 'Junction', '']
target_var = ['price']